<div class="em-container">
  <ams-load-panel
    [visible]="loading"
    [message]="loadingMessage"
    [shading]="true"
    [shadingColor]="'rgba(0,0,0,0.4)'"
  ></ams-load-panel>

   <dx-toolbar class = "ams-toolbar">
      <dxi-item location="before"><div *dxTemplate class="toolbar-item-container">
        <div class = "toolbar-label">Year: </div>
          <dx-select-box
            [items]="yearOptions"
            [(value)]="selectedYear"
            displayExpr="name"
            valueExpr="value"
            [width]="100"
            [showClearButton]="false"
            [searchEnabled]="false"
            (onValueChanged)="onYearChanged($event)"
            placeholder="Year">
          </dx-select-box>
      </div>
    </dxi-item>    
    <dxi-item location="before">
        <div *dxTemplate class="toolbar-item-container">
          <div class = "toolbar-label">Prod line: </div>
          <dx-select-box
            [dataSource]="productionLines"
            [(value)]="selectedProdLineId"
            displayExpr="productionLine"
            valueExpr="id"
            placeholder="select prod line"
            [searchEnabled]="true"
            [showClearButton]="false"
            (onValueChanged)="onProdLineChanged($event)"
            [width]="100">
          </dx-select-box>
          </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate class="toolbar-item-container">
        <div class="toolbar-label">Week(s): </div>
          <dx-select-box
            [dataSource]="weeks"
            [(value)]="selectedWeeks[0]"
            displayExpr="label"
            valueExpr="week"
            placeholder="Select week"
            [searchEnabled]="true"
            [showClearButton]="true"
            [showDropDownButton]="true"
            [width]="240"
            (onValueChanged)="onWeeksChanged($event)">
          </dx-select-box>
      </div>
    </dxi-item>    
    <dxi-item location="before">
      <div *dxTemplate class="toolbar-item-container">
        <div class="toolbar-label">CampaignNrs: </div>
        <dx-tag-box
          [dataSource]="campaignNumbers"
          [(value)]="selectedCampaignNumbers"
          displayExpr="description"
          valueExpr="campaignNumber"
          placeholder="Select campaignNr(s)"
          [searchEnabled]="true"
          [showSelectionControls]="true"
          [width]="240"
          [multiline]="false"
          [maxDisplayedTags]="3"
          [showClearButton]="true"
          [showDropDownButton]="true"
          (onValueChanged)="onCampaignNumbersChanged($event)">
        </dx-tag-box>
      </div>
    </dxi-item> 



    </dx-toolbar>

    <dx-data-grid
    #gridContainer
    id='gridContainer'
    [dataSource]="records"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    (onCellHoverChanged)="onCellHoverChanged($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onExporting)="onExporting($event, 'OvenSettings')"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onEditCanceled)="ResetEdit()"
    [cellHintEnabled]="true"
    >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-selection [mode]="selectionMode" showCheckBoxesMode="onClick" selectAllMode="page" allowSelectAll="true"> </dxo-selection>
    <dxo-editing
      mode="row"
      [allowUpdating]="false"
      [allowDeleting]="false"
      [allowAdding]="false"
      [useIcons]="false"
      [confirmDelete]="false"
    ></dxo-editing>
    <dxo-master-detail [enabled]="true" template="paintLineDetail"></dxo-master-detail>
    <dxo-paging [enabled]="true" [pageSize]="pageSize"> </dxo-paging>
    <dxo-pager
      [visible]="true" [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true"
      [allowedPageSizes]="[5, 10, 15, 20, 25, 100]"
      [displayMode]="'full'">
    </dxo-pager>

    <dxi-column caption="action" [width]="125" cellTemplate="buttonrowtemplate" [fixed]="true" fixedPosition="left"></dxi-column>
    <dxi-column dataField="id"   [width]="50" caption="id#" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="orderNumber" caption="Order#" [width]="95" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="campaignDate" caption="Date" dataType="date" [format]="'yyyy-MM-dd'" [width]="120" ></dxi-column>
    <dxi-column dataField="campaignNumber" caption="Campaign#" [width]="120" dataType="number" alignment="right" [groupIndex]="0" sortOrder="asc"></dxi-column>
    <dxi-column dataField="campaignSequenceNumber" caption="Seq#" [width]="85" dataType="number" alignment="right" sortOrder="asc"></dxi-column>
    <dxi-column dataField="manufacturerOrderNumber" caption="Manufacturer Order" [width]="120" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="productionType" caption="Production Type" [width]="120"></dxi-column>
    <dxi-column dataField="productionStage" caption="Production Stage" [width]="120"></dxi-column>
    <dxi-column dataField="customerName" caption="Customer" [minWidth]="180"></dxi-column>
    <dxi-column dataField="dimensionSetInId" caption="Dimension In" [width]="120"></dxi-column>
    <dxi-column dataField="dimensionSetOutId" caption="Dimension Out" [width]="120"></dxi-column>
    <dxi-column dataField="dimensionSetDescription" caption="Dimension Description" [minWidth]="220"></dxi-column>
    <dxi-column dataField="finishedProductId" caption="Finished Product #" [width]="110" dataType="number" alignment="right"></dxi-column>
    <dxi-column dataField="productionReady" caption="Production Ready" dataType="boolean" [width]="150"></dxi-column>
    <dxi-column [calculateCellValue]="messagesCount" caption="Messages" [width]="110" alignment="right"></dxi-column>
    <dxi-column dataField="" width="100%" caption=""></dxi-column>  
    <div *dxTemplate="let detail of 'paintLineDetail'">
      <div class="production-detail">
        <dx-tab-panel
          class="production-detail-tabs"
          [deferRendering]="false"
          [focusStateEnabled]="true"
          [loop]="false"
          [animationEnabled]="false"
          [swipeEnabled]="false"
          [showNavButtons]="true"
        >
          <dxi-item title="Paint Line">
            <div *dxTemplate="let _ of 'item'" class="production-detail-section">
              @if (detail.data?.paintLineConfiguration) {
                <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Type</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.paintLineType }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Line Speed</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.linespeed }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Run</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.run }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Chem Front</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.chemicalCoatingFrontSide }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Chem Back</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.chemicalCoatingBackside }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Double Join</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.doubleJoin }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Temp Zone 1</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.tempZone1 }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Temp Zone 2</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.tempZone2 }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Temp Zone 3</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.tempZone3 }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Under/Over Wind</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.underOverWind }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Oven Settings</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.ovenSettingsId }}</span>
                  </div>
                </div>

<!--                 <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Paint Code</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.paintCode }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Specmetrix</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.specmetrixRecipe }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Dry</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.dryThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Wet</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.wetThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Clear Coat</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.isClearCoat }}</span>
                  </div>
                </div>
                <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Paint Code</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1BackSide?.paintCode }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Specmetrix</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1BackSide?.specmetrixRecipe }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Dry</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1BackSide?.dryThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Wet</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1BackSide?.wetThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Clear Coat</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1BackSide?.isClearCoat }}</span>
                  </div>
                </div>
                <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Paint Code</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2FrontSide?.paintCode }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Specmetrix</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2FrontSide?.specmetrixRecipe }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Dry</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2FrontSide?.dryThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Wet</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2FrontSide?.wetThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Clear Coat</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2FrontSide?.isClearCoat }}</span>
                  </div>
                </div>
                <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Paint Code</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2BackSide?.paintCode }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Specmetrix</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2BackSide?.specmetrixRecipe }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Dry</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2BackSide?.dryThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Wet</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2BackSide?.wetThickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Clear Coat</span>
                    <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater2BackSide?.isClearCoat }}</span>
                  </div>
                </div> -->

                <h3 class="production-detail-title">Coaters</h3>
                @let coaters = detail.data?.paintLineConfiguration.coaters ?? [];
                @if (coaters?.length > 0) {
                  <div class="production-detail-grid">
                    @for (coater of coaters; track $index) {
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Paint Code</span>
                          <span class="production-detail-value">{{ coater.paintCode }}</span>
                        </div>
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Specmetrix</span>
                          <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.specmetrixRecipe }}</span>
                        </div>
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Dry</span>
                          <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.dryThickness }}</span>
                        </div>
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Wet</span>
                          <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.wetThickness }}</span>
                        </div>
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Clear Coat</span>
                          <span class="production-detail-value">{{ detail.data?.paintLineConfiguration?.coater1FrontSide?.isClearCoat }}</span>
                        </div>
                    }
                  </div>
                } @else {
                  <p class="production-detail-empty">No coaters configuration available.</p>
                }


              } @else {
                <p class="production-detail-empty">No paint line configuration available.</p>
              }
            </div>
          </dxi-item>
          <dxi-item title="Finished Product">
            <div *dxTemplate="let _ of 'item'" class="production-detail-section">
              @let finishedProduct = detail.data?.finishedProduct;
              @if (finishedProduct) {
                @let metalSpecs = finishedProduct?.metalSpecifications;
                <div class="production-detail-grid">
                  <div class="production-detail-cell">
                    <span class="production-detail-label">ID</span>
                    <span class="production-detail-value">{{ finishedProduct?.id }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Coating System</span>
                    <span class="production-detail-value">{{ finishedProduct?.coatingSystem }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Metal Width</span>
                    <span class="production-detail-value">{{ metalSpecs?.width }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Metal Thickness</span>
                    <span class="production-detail-value">{{ metalSpecs?.thickness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Material</span>
                    <span class="production-detail-value">{{ metalSpecs?.material }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Substrate</span>
                    <span class="production-detail-value">{{ metalSpecs?.substrate }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Hardness</span>
                    <span class="production-detail-value">{{ metalSpecs?.hardness }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Alloy Type</span>
                    <span class="production-detail-value">{{ metalSpecs?.alloyType }}</span>
                  </div>
                  <div class="production-detail-cell">
                    <span class="production-detail-label">Non Alloy Type</span>
                    <span class="production-detail-value">{{ metalSpecs?.nonAlloyType }}</span>
                  </div>
                </div>

                <h3 class="production-detail-title">Transformations</h3>
                @let transformations = finishedProduct?.transformations ?? [];
                @if (transformations.length > 0) {
                  <div class="production-detail-grid">
                     @for (transformation of transformations; track $index) {
                    <div class="production-detail-cell">
                      <span class="production-detail-label">Side:</span>
                      <span class="production-detail-value">{{ transformation.side }}</span>
                    </div>
                    <div class="production-detail-cell">
                      <span class="production-detail-label">Type:</span>
                      <span class="production-detail-value">{{ transformation.type }}</span>
                        <dx-button
                          text="..."
                          stylingMode="text"
                          (onClick)="onTransformationPopup(transformation)"
                        ></dx-button>                      
                    </div>                    
                  }
                  </div>
                }
                <h3 class="production-detail-title">Pretreatments</h3>
                @let pretreatments = finishedProduct?.chemicalPretreatments ?? [];
                @if (pretreatments.length > 0) {
                  <div class="production-detail-grid">
                      @for (pretreatment of pretreatments; track $index) {
                      <div class="production-detail-cell">
                        <span class="production-detail-label">Treatment:</span>
                        <span class="production-detail-value">{{ pretreatment.chemicalPretreatment }}</span>
                      </div>
                      <div class="production-detail-cell">
                        <span class="production-detail-label">Side:</span>
                        <span class="production-detail-value">{{ pretreatment.side }}</span>
                      </div>   
                      }

                  </div>
                }
                <h3 class="production-detail-title">Coating Layers</h3>
                @let coatingLayers = finishedProduct?.coatingLayerRecipes ?? [];
                @if (coatingLayers.length > 0) {
                  <div class="production-detail-grid">
                      @for (layer of coatingLayers; track $index) {
                        <div class="production-detail-cell">
                          <span class="production-detail-label">Layer Recipe ID:</span>
                          <span class="production-detail-value">{{ layer.paintLayerRecipeId}}</span>
                            <dx-button
                              text="..."
                              stylingMode="text"
                              (onClick)="onLayerRecipePopup(layer)"
                            ></dx-button>
                        </div>   
                      }
                  </div>
                }
              } @else {
                <p class="production-detail-empty">No finished product available.</p>
              }
            </div>
          </dxi-item>
          <dxi-item title="Messages">
            <div *dxTemplate="let _ of 'item'" class="production-detail-section">
              @let messages = detail.data?.messages ?? [];
              @if (messages.length > 0) {
                <div class="production-messages">
                  <div class="production-messages-header">
                    <span>Created</span>
                    <span>Reference</span>
                    <span>Message</span>
                  </div>
                  <ul>
                    @for (message of messages; track $index) {
                      <li class="production-message-row">
                        <span class="production-message-created">{{ message.created }}</span>
                        <span class="production-message-reference">{{ message.externalReferenceProperty }}</span>
                        <span class="production-message-text">{{ message.message }}</span>
                      </li>
                    }
                  </ul>
                </div>
              } @else {
                <p class="production-detail-empty">No messages available.</p>
              }
            </div>
          </dxi-item>
        </dx-tab-panel>
      </div>
    </div>
    <div  *dxTemplate="let data of 'buttonrowtemplate'">
      @if (hoverIndex == getRowIndex(data) || data.row.isEditing ) {
        <div class="button-column">
          <dx-button icon = "edit" hint = "edit Order data" stylingMode="text" (onClick)= "EditRecord(data)" class="small-icon" [visible]="!(data.row.isEditing)"></dx-button>
          <dx-button icon = "trash" hint = "delete record" stylingMode="text" (onClick)="DeleteRecord(data)" class="small-icon" [visible]="!(data.row.isEditing)"></dx-button>          
          <dx-button icon = "revert" stylingMode="text" (onClick)= "CancelEdit(data)" class="small-icon" [visible]="data.row.isEditing"></dx-button>
          <dx-button icon = "save" stylingMode="text" (onClick)= "SaveRecord(data)" class="small-icon" [visible]="data.row.isEditing"></dx-button>
        </div>
      }
    </div>
    <div *dxTemplate="let data of 'statusTemplate'">
      <span
        [class.status-error]="(data.data?.status ?? '').toLowerCase() === 'error'"
        [class.status-ok]="(data.data?.status ?? '').toLowerCase() !== 'error'"
      >
        {{ data.data?.status }}
      </span>
    </div>

    <dxo-summary>
      <dxi-group-item
        summaryType="count"
        displayFormat="{0}"
        [showInGroupFooter]="false">
      </dxi-group-item>
    </dxo-summary>
  </dx-data-grid>
</div>

<dx-popup
  [visible]="transformationDetailsVisible()"
  [showTitle]="true"
  [title]="'Transformation Details'"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [width]="420"
  [height]="'auto'"
  (onHiding)="closeTransformationPopup()"
>
  <div *dxTemplate="let _ of 'content'" class="transformation-popup">
    @if (transformationEntries().length > 0) {
      <table class="transformation-table">
        <tbody>
          @for (entry of transformationEntries(); track entry.key) {
            <tr>
              <th scope="row">{{ entry.key }}</th>
              <td>{{ entry.value }}</td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p class="transformation-empty">No transformation details available.</p>
    }
  </div>
</dx-popup>

<app-finish-details
  [visible]="finishDetailsVisible()"
  [paintLayerRecipeId]="selectedPaintLayerRecipeId()"
  (closed)="closeFinishDetails()">
</app-finish-details>