@if (error$ | async; as error) {
  <div class="error-backdrop">
    <div
      class="error-panel"
      [ngClass]="error.severity">
      <div class="error-header">
        <div class="title">
          <i [class]="iconClass(error.severity)"></i>
          <strong>{{ error.title }}</strong>
        </div>
      </div>

      <div class="error-message">
        {{ error.message }}
      </div>

      <div class="error-actions">
        <dx-button
          text="OK"
          type="default"
          stylingMode="contained"
          (onClick)="close()">
        </dx-button>
      </div>
    </div>
  </div>
}
