<div class="menu">
  <dx-tree-view
    [items]="(menuItems$ | async) ?? []"
    displayExpr="text"
    [width]="220"
    (onItemClick)="onMenuItemClick($event)"
    [expandEvent]="'click'"
    [expandNodesRecursive]="false"
    [showCheckBoxesMode]="'none'"
    [selectByClick]="false"
    [activeStateEnabled]="true"
    [focusStateEnabled]="true"
    [searchEnabled]="false">
    <ng-template let-item="item">
      <span>
        @if (item.icon) { <i [class]="item.icon"></i> }
        {{ item.text }}
      </span>
    </ng-template>
  </dx-tree-view>
</div>  