.em-container {
    width: 100%;
    height: calc(100% - 50px);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.footer-message {
  flex-grow: 1;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: black;
  color: red;
  margin-right: 16px;
  padding: 5px 0 0 5px;
  font-size: large;
}

.footer-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 0;

}